.button{ background-color: #008CBA; /* Green */ border: none; color: white; padding: 5px 10px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 10px 10px; cursor: pointer; z-index: 10; }

.fix{ position: fixed; }

.absol{ position: absolute;; }

.sidebar_wrap{ width: 100%; height: 100%; margin-top: -50px; position:absolute; }
.sidebar{ width: 100%; height: 100%; position:absolute; background: rgba(0, 0, 0, 0.8); left: -100%; transition: transform 400ms ease; z-index: 1; color: #00EB4E; }

.list_wrap{ margin-top: 70px; }

.left_active{ transform: translate(100%); }

li{ margin-left: 20px; list-style-type: none; }
li:before{ content: "└"; }

submark{ }
