<div class="sidebar_wrap">
    <button type="button" (click)="actived()" class="button absol">메뉴</button>
    <div [ngClass]="{'sidebar': true, 'left_active' : active }">
        <div class="list_wrap">
            <ul *ngFor="let post of posts">
                {{post.topic}}
                <li *ngFor="let content of post.contents" [attr.data-url]="content.path" (click)="getMd($event)">
                    {{content.subtopic}}
                </li>
            </ul>
        </div>
    </div>
</div>
<marked [content]="content"></marked>
